* {
  margin: 0;
  border: 0;
  /* border: 0.1vw solid black; */
  padding: 0;
  /* overflow: hidden; */
  color: rgb(13, 48, 21);
}

/* Блоки, появляющиеся на всех страницах  */
html {
  overflow-y: scroll;
}
body {
  padding: 0 15vw;
  background: rgb(195, 215, 223);
}

header {
  margin: 0 0 20px 0;
  /* border: 1px solid black; */
  border-radius: 0px 0px 25px 25px;
  background: rgb(226, 239, 245);
  box-shadow: 0 0 5px 0 rgba(25, 59, 33, 0.5);
}

.h-btns,
.name {
  max-width: 1200px;
  padding: 2.5vw 5vw 0 5vw;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.h-img {
  height: 100px;
  margin: auto 0px;
}

.h-txt {
  font-size: 30px;
  margin: auto 0px;
}

.h-btn {
  padding: 20px 25px;
  font-size: 20px;

  background: rgba(0, 0, 0, 0);
}
.h-btn:hover {
  background: linear-gradient(
    180deg,
    rgba(222, 238, 245, 0) 60%,
    rgba(169, 216, 235, 0.5)
  );
}

/* Общие правила для всех блоков */

a,
button {
  cursor: pointer;
}

/* Родительские классы */

.content {
  margin: 0 0 20px 0;
  border-radius: 25px;
  padding: 20px;
  background: rgb(226, 239, 245);
  font-size: 16px;
  box-shadow: 0 0 5px 0 rgba(25, 59, 33, 0.5);
}

/* Стили форм */

.inp-box {
  max-width: 40vw;
  margin: 10px auto;
}
.inp-auth {
  width: 300px;
  max-width: 40vw;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 16px;
  outline: 1px solid rgba(25, 59, 33, 0.5);
}

input::placeholder{
  color: rgba(25, 59, 33, 0.5);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sign-btn {
  border: 1px solid rgba(25, 59, 33, 0.5);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
.sign-btn:hover {
  box-shadow: 0 0 2px 0 rgba(25, 59, 33, 0.5);
}

#err-mes {
  margin: 10px;
}